@charset "UTF-8";

/*
    em HTML é id    = em CSS é # ÚNICO
    em HTML é class = em CSS é . MÚLTIPLO
*/

body {
    background-color: #D6FDE9;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: #3C805E;
    color: white;
}

h1 {
    color: #1E402F;
}

h2 {
    color: #3C805E;
}

.basico {
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: rgb(172, 172, 107);
}

.avancado {
    color: rgb(104, 36, 36);
}

.destaque {
    background-color: rgb(245, 245, 178);
}